@charset "utf-8";
html, body {
    margin: 0;
    height: 100%;
}
body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #80bfff;
}
/* ~~ This fixed width container surrounds all other blocks ~~ */
.container {
    width: 100%;
    background-color: #80bfff;
    margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
    height: 100%;
}

header h1{
    text-align: center;
    color: #ccffff;
    text-shadow: 2px 2px #FF0000;
    padding-bottom: 2%;
    padding-top: 1%;
}

.body{
    margin-left: 10%;
    margin-RIGHT: 10%;
}

/*list of contact page*/
.addNewContact {
    margin-bottom: 1%;
}


.addNewContact label{
    font-size: 20px;
    padding-top: 1%;
}
.contactList{
    text-align: center;
    font-size: 15px;
}

.listTitle{
    border-bottom-color: #000000;
    font-weight: bold;
    
}

#adding-new-contact .btn-success{
    margin-right: 1%;
}

.well{
    margin-bottom: auto;
}

/*edit contact*/
.editAddress{
    margin-top: 1%;
}

.note {
    margin-top: 1%;
}
.note .resultLabel, .phones .resultLabel{
    text-align: left;
    width: auto;
}


/*create new contact*/
.resultLabel{
    font-size: 20px;
}
.result{
    margin-bottom: 1%;
}
.address input, .phone input{
    margin-bottom: 3%;
}

/*showing full contact page*/

#full_contact .resultLabel{
    font-size: 15px;
    font-weight: bold;
    padding-left: 10%;
}
#full_contact .result{
    font-size: 20px;
    padding-right: 15%;
}

#full_contact .result>.row{
    padding-left: 5%;
}

/* ~~ The footer ~~ */
footer {
    padding-left: 2%;
    width:100%;
    height: 6%;
    margin: 0 auto;
    background-color: #047CFC;
    color: #fff;
    clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}

